.core-values {
  background: #fef7f0;
  width: calc(100% - 10%);
  padding: 60px 5%;
}

.core-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

.core-card {
  position: relative;
  border-radius: var(--radius-one);
  overflow: hidden;
  min-height: 280px;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mv-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  color: white;
  border-radius: 0 0 12px 12px;
  transition: 0.5s ease;
}

.core-card:hover .mv-overlay {
  background: linear-gradient(to top, var(--primary-color), transparent);
}

.mv-overlay h3 {
  font-size: 28px;
  font-weight: var(--bold-font-weight);
  margin-bottom: 10px;
}

.mv-overlay p {
  font-size: var(--default-p-size);
  line-height: 1.5;
}

.values-heading {
  font-size: var(--heading-two);
  font-weight: var(--bold-font-weight);
  margin-bottom: 25px;
  text-align: left;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.value-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--background);
  border-radius: var(--radius-one);
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
  text-align: left;
  transition: transform 0.3s ease;
}

.value-icon {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.value-card h4 {
  font-size: var(--default-p-size);
  font-weight: var(--var(--bold-font-weight)-font-weight);
  margin-bottom: 8px;
}

.value-card p {
  font-size: var(--default-p-size);
  line-height: 1.4;
}

@media (max-width: 900px) {
  .core-values {
    width: calc(100% - 20px);
    padding: 10px;
  }
  .core-grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    gap: 10px;
  }
  .core-card {
  min-height: 200px;
}
.mv-overlay p {
  font-size: var(--small-p-size);
}
  .values-heading {
  font-size: var(--heading-three);
}

.values-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.value-card p {
  font-size: var(--small-p-size);
}

}
