.combo-course-card {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--default-box-shadow);
  border-radius: var(--radius-one);
  border: 1px solid transparent;
  transition: transform 0.2s ease;
}

.combo-course-card .card-detail {
  height: fit-content;
  width: calc(100% - 30px);
  padding: 8px 15px;
  /* background-color: var(--background); */

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.combo-course-card .card-detail .main-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  height: 120px;
}
.combo-course-card .card-detail .main-detail .left {
  width: 2px;
  height: 70px;
  background-color: var(--primary-color);
}
.combo-course-card .card-detail .main-detail .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.combo-course-card .card-detail .main-detail .right span {
  font-size: 10px;
  background-color: var(--forground);
  text-align: center;
  width: fit-content;
  padding: 2px 6px;
}
.combo-course-card .card-detail .main-detail .right h3 {
  font-size: var(--heading-four);
  font-weight: 500;
}
.combo-course-card .card-detail p {
  font-size: 12px;
}

.combo-course-card .card-btn {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient-two);
  color: var(--background);
  font-weight: var(--bold-font-weight);
  padding: 10px 0;
  border-bottom-left-radius: var(--radius-one);
  border-bottom-right-radius: var(--radius-one);
  cursor: pointer;
  transition: background 0.3s ease;
}
.combo-course-card .card-btn:hover p {
  background: var(--gradient-one);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.combo-course-card .card-btn:hover {
  background: var(--forground);
}
.combo-course-card:hover {
  border: 1px solid transparent;
  border-radius: var(--radius-one);
  background: linear-gradient(to right, var(--background), var(--background)),
    var(--gradient-one);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  transform: scale(1.02);
}
@media (max-width: 900px) {
  .combo-course-card:hover {
    transform: scale(1);
  }
}
