.practice-test-hero {
  width: calc(100% - 120px);
  height: fit-content;
  padding: 60px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--forground);
}

.practice-test-hero .left-img {
  width: 450px;
  object-position: bottom;
  object-fit: cover;
}
.practice-test-hero .right-img{
  width: 400px;
  object-position: bottom;
  object-fit: cover;
}
.practice-test-hero .mid {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 10px;
  text-align: center;
}
.practice-test-hero .mid h1 {
  font-size: 36px;
  line-height: 1;
}
.practice-test-hero .mid h1 strong {
  font-size: var(--heading-three);

}

.practice-test-hero .mid .test-btn {
  background: var(--gradient-two);
  border: 1px solid transparent;
  border-radius: var(--radius-one);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  padding: 12px 24px;
  border-radius: var(--radius-three);
  font-size: var(--default-p-size);
  cursor: pointer;
  transition: 0.3s ease;
  width: fit-content;
  align-self: center;
}
.practice-test-hero .mid .test-btn p {
  font-weight: var(--bold-font-weight);
  color: var(--background);
  text-align: center;
}
.practice-test-hero .mid .test-btn:hover p {
  background: var(--gradient-two);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.practice-test-hero .mid .test-btn:hover {
  border: 1px solid var(--primary-color);
  box-shadow: var(--default-box-shadow2);
  background: transparent;
}
@media (max-width: 900px) {
  .practice-test-hero {
  width: calc(100% - 40px);
  height: fit-content;
  padding: 20px;
}
  .practice-test-hero .left-img,
  .practice-test-hero .right-img {
    display: none;
  }
  .practice-test-hero .mid {
  width: 100%;
}
}
