.about-hero {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}
.about-hero .content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin-left: 5%;
}
.about-hero .content-container h1 {
  color: var(--primary-color);
  font-size: 28px;
}
.about-hero .content-container h2 span {
  color: var(--background);
  display: block;
  font-size: var(--heading-two);
}
@media (max-width: 900px) {
  .about-hero {
    height: 300px;
    align-items: flex-start;
    justify-content: center;
  }
  .about-hero .content-container {
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
  }
  .about-hero .content-container h1 {
    font-size: 20px;
  }
  .about-hero .content-container h2 span {
    font-size: var(--heading-three);
    text-align: center;
  }
}
