.how-we-help {
  background: var(--background);
  border-radius: var(--radius-one);
  padding: 30px 20px;
  box-shadow: var(--default-box-shadow);
  width: calc(90% - 40px);
  margin-left: 5%;
  text-align: center;
  border: 1px solid var(--forground);
  margin-bottom: 100px;
}

.how-we-help .section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.how-we-help .help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.how-we-help .help-list .each-help {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.how-we-help .help-list .each-help img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 10px;
}

.how-we-help .help-list .each-help p {
  font-size: var(--default-p-size);
  margin: 0;
}

@media (max-width: 900px) {
  .how-we-help {
    padding: 20px 10px;
      width: calc(94% - 20px);
    margin-left: 3%;
  }

  .how-we-help .help-list {
    justify-content: center;
    gap: 20px;
  }

  .how-we-help .help-list .each-help {
    width: 80px;
  }

  .how-we-help .help-list .each-help img {
    width: 32px;
    height: 32px;
  }

  .how-we-help .section-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
