/* HeroSlide.css */
.feature-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.blackscreen {
  height: var(--hero-section-height);
  width: 100%;
  background-color: var(--primary-transparent-color);
  display: flex;
  flex-direction: column;
}

.blackscreen .text-section {
  height: 100%;
  width: 40%;
  margin-left: 10%;
  color: var(--background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.blackscreen .text-section h1 {
  font-size: var(--heading-one);
  margin: 0 0 30px 0;
  line-height: 1;
}

.blackscreen .text-section h1 span {
  color: var(--primary-color);
}

.blackscreen .text-section h3 {
  font-size: var(--heading-three);
  margin: 0 0 30px 0;
  line-height: 1;
}

.blackscreen .text-section button {
  padding: 10px 15px;
  width: fit-content;
  background: var(--gradient-one);
   font-size: var(--bold-font-weight);
  border: none;
  border-radius: var(--radius-three);
  color: var(--background);
  cursor: pointer;
  transition: 0.3s ease;
}
.blackscreen .text-section button:hover {
  box-shadow: var(--default-box-shadow2);
}

/* Responsive */
@media (max-width: 900px) {
  .blackscreen .text-section {
    width: 80%;
    margin-left: 9%;
  }
  .blackscreen .text-section h1 {
  font-size: var(--heading-three);
}
.blackscreen .text-section h3 {
  font-size: var(--heading-four);
}
}
