.courses-category-section {
  background-color: var(--forground);
  padding: 80px 0;
}
.courses-category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
}


@media (max-width: 900px) {
  .courses-category-section {
  background-color: var(--forground);
  padding: 20px 0;
}
  .courses-category-list {
    width: 98%;
    margin-left: 1%;
    gap: 10px;
  }
}
