.events-detail-hero {
  height: fit-content;
  width: calc(100% - 120px);
  background-color: var(--dark);
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.events-detail-hero .free-training {
  background-color: #00a5373f;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00a537b2;
  border-radius: 50px;
  padding: 6px 16px;
}
.events-detail-hero .free-training h3 {
  font-size: var(--heading-four);
}
.events-detail-hero h1 {
  color: var(--background);
  font-size: var(--heading-two);
}
.events-detail-hero .date-container,
.events-detail-hero .time-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--background);
}

.events-detail-hero .date-container svg,
.events-detail-hero .time-container svg {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .events-detail-hero {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .events-detail-hero h1 {
  font-size: var(--heading-three);
}
}
